@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.map-wrapper {
    position: relative;
    width: 100vw;
    height: 500px;
    display: flex;
    justify-content: space-around;
}

.map-container {
    position: relative;
    width: 50vw;
    height: 100%;
}