.map-wrapper {
    position: relative;
    width: 100vw;
    height: 30rem;
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.map-container {
    position: relative;
    width: 50vw;
    height: 100%;
}