.links-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
    user-select: none;
  }
  
  .link-item {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 0.5rem;
    box-shadow: 0px 4px 6px rgb(123, 123, 123);
  }
  
  .youtube-logo {
    width: auto;
    height: 0.7rem;
    margin-right: 0.3rem; 
  }
  
  .link-item p {
    margin: 0;
    font-size: 0.65rem; 
    color: #333; 
  }